{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'mi_app/css/index.css' %}">
{% endblock %}
{% block content %}
<main class="hero">
    <div class="hero-text">
      <h1>
        Descubrí tu <span class="highlight">vocación</span>,<br>
        animate a elegir tu <span class="highlight">camino</span>
      </h1>
    </div>
  </main>
<section class="section form-section">
  <div class="section-left">
    <h2>Respondé</h2>
  </div>
  <div class="section-right">
    <form method="POST" action="{% url 'pagina_inicio' %}" class="form" id="test-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn mb-2">ENVIAR</button>
   </form>

  </div>
</section>

<section class="section discover-section" id="resultado-section" style="display:none;">
  <div class="section-left">
    <h2>Descubrí</h2>
  </div>
  <div class="section-right" id="resultado-descripcion"></div>
</section>

<section class="section decide-section" id="carreras-section" style="display:none;">
  <div class="section-left">
    <h2>Decidí</h2>
  </div>
  <div class="section-right cursos" id="carreras-lista"></div>
</section>
{% endblock %}
{% block extrajs %}
<script src="{%static 'mi_app/js/index.js'%}"></script>
{% endblock %}